 body{
        background-color:honeydew;
    }
    .main-heading{
       display:flex;
       padding-top: 60px;
       width:110%;
       text-align: center;
       justify-content: center;
       background-color: bisque;
    }
    .dropdown-menu {
    background-color: white !important;
    text-align: center;
    width:auto;
    align-items: center;
    justify-content: center;
}
.dropdown-item:hover {
    color:antiquewhite !important;
    background-color:blue !important;
   
}
.dropdown-item{
    width:110% !important;
}

 .navbar-brand{
     display:flex;
     align-items: center;
      width:240px;
      height: 120px;
      border-radius: 100%;
      box-shadow:5px 5px 5px 5px #26343a;
      padding-left: 30px;
      padding-top: 30px;
      background-color: white;
   }

.container-fluid{
      background-color:rgb(238, 81, 18);
   }
 
    img {
    max-width: 100%;
    padding: 20px;
    height: auto;
    object-fit: cover; /* Ensures the image scales properly */
}
    .main-points-row{
      display:flex;
      flex-wrap: wrap;
      font-size: 20px;
      padding:20px;
      margin-bottom:15px;
       /* padding-top: 60px ,padding-left: 140px;
       padding-right: 145px;*/
       height:750px; /* adjusted was 650;*/
        min-height:400px;
       width:103%;/* was 110%;*/
       align-items: center;
       text-align: left;
       justify-content: left;
       background-color: bisque;
    }
    .main-points-row div{
        flex: 1;
        min-width: 300px; /*ensures enough space for each section*/
}
      .main-points-row2 {
         display:flex;
         flex-wrap: wrap;
         font-size: 20px;
          padding:20px;
       margin-bottom:15px;
       height:750px;
       min-height:400px;
       width:103%;
       align-items: center;
       align-content: center;
       text-align: left;
       background-color: bisque;
      }

      .main-points-row2 div{
        flex: 1;
        min-width: 300px; /*ensures enough space for each section*/
    }

nav ul {   
    list-style: none;
}
nav ul li {  
    text-align: center;
    margin-right: 30px;
     color:antiquewhite;
     font-size: 25px;
     font-weight:600;
}
nav ul li:hover{
    color:black;
}
nav ul li a {
    text-decoration: none;
    color:antiquewhite;
}
li{
    font-size: 20px;
}
.centre-block{
    height:100%;
    width:100%;
}


  
