  body{
        background-color:honeydew;
    }
    .main-heading{
       display:flex;
       padding-top: 60px;
       width:110%;
       text-align: center;
       justify-content: center;
       background-color: bisque;
    }
    .main-points-row{
      display:flex;
      font-size: 20px;
      padding-top: 60px;
       padding-left: 140px;
       padding-right: 145px;
       height:650px;
       width:110%;
       align-items: center;
       text-align: left;
       justify-content: left;
       background-color: bisque;
    }
      .main-points-row2{
         display:flex;
         font-family: 20px;
      padding-top: 60px;
       padding-left: 140px;
       padding-right: 145px;
       height:500px;
       width:110%;
       align-items: center;
       text-align: left;
       justify-content: left;
       background-color: bisque;
      }
      .main-points-row3{
        font-size: 20px;
         display:flex;
      padding-top: 60px;
       padding-left: 140px;
       padding-right: 145px;
       height:700px;
       width:110%;
       align-items: center;
       text-align: left;
       justify-content: left;
       background-color: bisque;
      }
    .nav-bar{
        display:flex;
       align-items: center;
       justify-content: center;
        height:160px;
        background-color:rgb(223, 105, 58);
    }
nav ul {   
    list-style: none;
}
nav ul li {  
    text-align: center;
    margin-right: 30px;
     color:antiquewhite;
     font-size: 25px;
     font-weight:600;
}
nav ul li:hover{
    color:black;
}
nav ul li a {
    text-decoration: none;
    color:antiquewhite;
}
li{
    font-size: 20px;
}
.centre-block{
    height:100%;
    width:100%;
}
.dropdown-menu {
    background-color: lightgray !important;
    text-align: center;
    width:auto;
    align-items: center;
    justify-content: center;
}
.dropdown-item:hover {
    color:antiquewhite !important;
    background-color:darkgray !important;
   
}
.dropdown-item{
    width:112% !important;
}

